[2020-11-01 12:51] HrantAbrahamyan opened #1 "Custom content in ContextMenu"
After showing the context menu, I just want to display other content.
How to customize content after showing context menu?
Is there any plan to add native custom previewProvider?

![image](https://user-images.githubusercontent.com/36418107/97803215-146d1d00-1c62-11eb-86bc-44b31c94c987.png)

[2020-11-01 14:43] dominicstop commented on #1
Hello, i'm currently working on that haha (it's on the [todo list](https://github.com/dominicstop/react-native-ios-context-menu/blob/master/docs/TODO.md), under "_ContextMenuView_")

But for now, what you can do is use `onMenuWillShow` and `onMenuDidShow` to detect if the context menu is visible and change what you render. But the limitation is that the preview size does not change when the contex

[2020-11-01 20:53] HrantAbrahamyan commented on #1
Okay thanks, and one more question, is there any lib for android context menu like ios or do you plan to make this lib cross platform? I will attach examples from android (telegram, instagram).

![photo5258502338405053072](https://user-images.githubusercontent.com/36418107/97815164-a9453a00-1ca5-11eb-8ba7-b1c8bbb67b35.png)
![photo5258502338405053071](https://user-images.githubusercontent.com/36418

[2020-11-01 22:04] dominicstop commented on #1
Hello, the library now supports custom previews ✨ (See [Example 11](https://github.com/dominicstop/react-native-ios-context-menu#4111-contextmenuview-simple-example-11) and [Example 12](https://github.com/dominicstop/react-native-ios-context-menu#4112-contextmenuview-simple-example-12)).

Unfortunately, I'm not familiar enough with android development to implement this on android (and as far as i

[2020-11-01 22:04] #1 closed

[2020-11-02 08:00] HrantAbrahamyan commented on #1
Hey, many thanks ✨

[2020-11-02 12:05] abgaryanharutyun opened #2 "Two preview window"
Hey @dominicstop

I have one question
I want to build a context menu with reaction pop-up like iMessage.

I just want to know can I build that kind of component with this package?

![eO6rt (1)](https://user-images.githubusercontent.com/5097588/97866305-24016a00-1d25-11eb-8550-f628bdd43bcc.png)

Thanks.

[2020-11-12 21:02] raphaelrk opened #3 "Duplicate interface definition for class 'RCTSwiftLog'"
Was getting the following error when building with this library: `Duplicate interface definition for class 'RCTSwiftLog'`.

I'm assuming it's because react-native-ios-modal, which I also installed, also creates RCTSwiftLog.

I commented out the .h, .m, and .swift for RCTSwiftLog in this library and things started compiling for me again. Maybe there's a way to only declare RCTSwiftLog once between

[2020-11-12 21:58] dominicstop commented on #3
I'm gonna try making the classes private, maybe it'll fix it? (Or change the names as a temp. fix 🤣)

I'll try and find a solution haha

[2020-11-12 22:59] dominicstop commented on #3
@raphaelrk hello! i've published a patch, it should be fixed now 😊
(please let me know if you have any other issues)

[2020-11-12 22:59] #3 closed

[2020-11-12 23:08] raphaelrk commented on #3
Wow that was so fast!! Thank you @dominicstop 😊

[2020-11-12 23:11] dominicstop commented on #2
Hello!! sorry for the late reply,
I did some googling and it looks like the iMessage app is using private API's to achieve this.
* When you tap on the preview, the context menu immediately closes. I've tried messing around, but currently there's no way to make the context menu preview interactive. The touch events don't pass through the preview's contents, unfortunately.

Maybe in the future, Appl

[2020-11-12 23:11] #2 closed

[2020-11-15 23:11] raphaelrk opened #4 "Initializer for conditional binding must have Optional type, not 'RCTMenuIcon'"
In RCTMenuActionItem.swift and RCTMenuItem.swift, getting the error "Initializer for conditional binding must have Optional type, not 'RCTMenuIcon'" when compiling. I wasn't getting this the other day so it may be related to the most recent XCode version, which I just updated to. Screenshots below:

![image](https://user-images.githubusercontent.com/3377845/99199333-5cb13280-276c-11eb-84d9-743fb58

[2020-11-16 19:42] dominicstop commented on #4
Hello, sorry for the late reply (and thank you so much for the detailed explanation!)

I've doubled checked, and I'm not sure why Xcode is compiling when the code is clearly wrong?

![image](https://user-images.githubusercontent.com/18517029/99299580-5c0cbf00-2886-11eb-906c-aeeb134b783f.png)

I even deleted `derivedData` and did a clean build and it still compiles without any errors? Which is weir

[2020-11-16 19:57] dominicstop commented on #4
@raphaelrk hello, I've uploaded a [patch](https://github.com/dominicstop/react-native-ios-context-menu/releases/tag/v1.1.4) with your changes 😊 (please let me know if you find any other problems haha)

[2020-11-16 19:57] #4 closed

[2020-12-02 10:34] KingAmo opened #5 "[RN-0.64-rc.1]Undefined symbol: (extension in UIKit):__C.UIMenu.init(title: Swift.String, image: __C.UIImage?, identifier: __C.UIMenuIdentifier?, options: __C.UIMenuOptions, children: [__C.UIMenuElement]) -> __C.UIMenu"
xcode error :

[code]

[code]

[2020-12-05 04:36] dominicstop commented on #5
Hello! This is a bug in the RN Xcode template 😔 As of writing this, it hasn't been officially fixed yet haha

To make this library work, you have to follow this this instructions: [Xcode Build Error: Undefined Symbol](https://github.com/dominicstop/react-native-ios-context-menu#112-xcode-build-error-undefined-symbol)

If you still encounter any problems, please let me know 😊

[2020-12-20 09:48] oferRounds opened #6 "Option to present the context menu with my own target view?"
Something similar to React Native’s Android function:
showPopupMenu(
        node: number,
        items: string[],
        error: () => void /* currently unused */,
        success: (item: string, index: number | undefined) => void,
    ): void;

where you just present it the context node, and presents it

[2020-12-29 20:21] dominicstop commented on #6
Have you taken a look at [ContextMenuView Example #15](https://github.com/dominicstop/react-native-ios-context-menu#4115-contextmenuview-simple-example-15)? It lets you create a custom preview target (it's demoed in these gifs: [gif 1](https://github.com/dominicstop/react-native-ios-context-menu/blob/master/assets/context-menu-view-gifs/ContextMenuView-Test-07.gif), and [gif 2](https://github.com/

[2021-01-09 15:41] FrankFundel opened #7 "Swift compiler errors"
I get these strange errors after installing the package.

![](https://i.ibb.co/YBTPcR2/Screenshot-1.png)

Does anyone know what the issue is? I could install it perfectly on another newer project.

Kind regards,
Frank

[2021-01-09 15:51] dominicstop commented on #7
This is the first time I'm encountering this error 😅

Could you post what RN version you're using, and your Xcode version? I'll try making a fresh project to reproduce.
This a long shot, but maybe it's related to [1.1.2 Xcode Build Error (Undefined symbol)](https://github.com/dominicstop/react-native-ios-context-menu#112-xcode-build-error-undefined-symbol)?

In the meantime, I'm gonna do some debu

[2021-01-09 17:10] FrankFundel commented on #7
I'm on:
react-native-cli: 2.0.1
react-native: 0.61.5
and XCode 11.5

Clean build + Cleared derivedData.
Maybe it has something to do with that: https://stackoverflow.com/questions/40040570/swift-compiler-error-on-pods
I will try out tomorrow thank you for your help.

[2021-01-10 00:25] dominicstop commented on #7
Forgot to post before I went to sleep 😴, but I tried installing the library on a fresh RN app:
1. Created new RN project (the latest ver. is: `0.63.4`)
2. Tried to run the app but got: `Undefined symbol: (extension in UIKit)`

![Screen Shot 2021-01-10 at 1 37 52 AM](https://user-images.githubusercontent.com/18517029/104111309-5cbc5180-531b-11eb-8a71-dd19fbcd9d03.png)

3. Followed [1.1.2 Xcode Buil

[2021-01-10 02:50] dominicstop commented on #7
Hello, forgot to post this before I fell asleep last night 😴

I created a fresh RN project (the latest ver. is `0.63.4`) to try and reproduce the error:
1. Ran: `npx react-native init contextMenuTest6v0634`
2. Made sure that it builds/runs
3. Installed the library: `yarn add react-native-ios-context-menu` and `cd ios && pod install`
4. Tried to build the app and encountered this error:

![Screen S

[2021-01-10 02:54] dominicstop commented on #7
So maybe the problem is with Xcode `11.5` and  RN `0.63.4` ? I don't have enough space to install another version of Xcode haha, so I'm going to use github actions:
1. Ran: `npx react-native init contextMenuTest7v0615  --version 0.61.5`
2. Made sure that it runs/builds, and then [published the repo to github](https://github.com/dominicstop/ContextMenuTest7-0.61.5)
3. Made a [github action](https:/

[2021-01-10 03:09] dominicstop commented on #7
I finally was able to reproduce your error 😅

The [github action](https://github.com/dominicstop/ContextMenuTest7-0.61.5/runs/1675438023?check_suite_focus=true) failed to build the project with the following error:

![image](https://user-images.githubusercontent.com/18517029/104113361-fd1e7000-5333-11eb-8bcc-d43f2dfe7041.png)

![image](https://user-images.githubusercontent.com/18517029/104113365-0

[2021-01-10 09:30] dominicstop commented on #7
I've found the solution, but you aren't going to like it 😔
(skip to the end if you don't want to see the explanation haha)
* I finally was able to build the [test app](https://github.com/dominicstop/ContextMenuTest7-0.61.5) using Xcode 11.5 using this [GH action](https://github.com/dominicstop/ContextMenuTest7-0.61.5/blob/main/.github/workflows/Build-App-2.yml) (here's a [link](url) to the build o

[2021-01-10 09:53] FrankFundel commented on #7
Thank you for your awesome work so far 😀 Your solution is a bit confusing to me because on another project it works using the same XCode version. Maybe I can specify in my project which version of Swift to use? (maybe the project uses an older swift version because I have another pod in it which also uses swift)

[2021-01-10 10:58] dominicstop commented on #7
I'm sorry, this library is a mess haha 😔 (I'll take a look at this later, and do some more tests)

<br>

At the mean time, what did you do, and what errors did you encounter? I don't mind if you just paste the entire error/logs + build settings haha (it'll help with debugging). I'll follow along step by step and I'll try to reproduce the errors 😅

<br>

This would be a lot easier it i could instal

[2021-01-10 11:16] oferRounds commented on #6
Sorry for my delay @dominicstop, thank you so much for detailed answer! I have looked – but I’ll have a look again

[2021-01-10 12:28] FrankFundel commented on #7
Nooo this library is really good. I described what I did in the comment above, I have not logs :/
When was the last version that used Swift 5.0 instead of Swift 5.3? I need ContextButton :(

[2021-01-11 10:02] dominicstop commented on #7
Here's what I've found after some testing haha
* For **Xcode 11.5** it uses: `Apple Swift version 5.2.4 (swiftlang-1103.0.32.9 clang-1103.0.32.53)`
* For **Xcode 12.3** it uses: `Apple Swift version 5.3.2 (swiftlang-1200.0.45 clang-1200.0.32.28)`

<br>

I'm a noob at Xcode but I can't figure how to make this work... I'm afraid that I'll end up breaking something if i mess with the build settings h

[2021-01-11 10:26] dominicstop commented on #6
Hope you find what you're looking for, good luck! ✨

[2021-01-11 10:26] #6 closed

[2021-01-11 10:31] oferRounds commented on #6
Thank you!!! :) :) :)

[2021-01-11 11:10] #7 closed

[2021-01-18 08:17] mrousavy opened #8 "Type Definitions (TypeScript)"
Hi @dominicstop !

First off, I have to say I really love your library. I've had a hard time with a similar library, but yours works a lot better for my use case.
A big downside for me are the missing Types (`.ts`/`.d.ts`) and type definitions for TypeScript, as I am using TypeScript for my whole project, and now this single library is emitting warnings since there are no types here.

Could you ma

[2021-01-18 09:54] mrousavy opened #9 "Pressables not working after context menu opened"
When wrapping Pressables (`<Pressable>`, `<TouchableOpacity>`, ...) with a context menu, the entire JS responder system will fail/crash once you open the context menu once. In other words, your entire screen becomes unresponsive if you open a context menu that contains a pressable.

There might be some extra treatment required to support inlining the JS pressability API.

(Also, it looks like nati

[2021-01-29 22:52] FrankFundel opened #10 "How to open ContextMenuButton with single tap"
Yeah how to open the ContextMenu without holding the Button? :)

[2021-02-16 09:53] guytepper commented on #10
You need to set `isMenuPrimaryAction` to `true` (Check out [`ContextMenuButton` props](https://github.com/dominicstop/react-native-ios-context-menu#312-contextmenubutton-component))

[2021-02-16 09:57] guytepper opened #11 "RTL support"
Hi @dominicstop, thanks for the great library. It was a pleasure to read the docs :)

Is it possible to add RTL support for the menu options?

This is how it looks at the moment, using a RTL language for the menu options:
<img src="https://user-images.githubusercontent.com/13344923/108046789-b5cf8180-704d-11eb-833b-f2452c446213.jpeg" alt="IMG_AEE52943038A-1" width="400">

This is how the correct a

[2021-02-18 21:58] und3f1n3d commented on #10
That's true for iOS 14.

However,

With that, on iOS 13, you have to long press to show the menu.   My design team wished instead of a long press, a single tap should also trigger the action sheet. So i used [ActionSheetFallback Module](https://github.com/dominicstop/react-native-ios-context-menu#312-actionsheetfallback-module) as provided,

`   const actionSheetMenu = async () => await ActionShee

[2021-02-23 22:53] und3f1n3d opened #12 "support unit testing via jest"
Hello!

I must say this is a great library to have.   That would be nice to a `jestSetup.js` file for this.

Right now i am mocking the library like this, and hopefully it won't return any issue when you make more changes in the future.  Also I had to look thru the ActionSheetFallback function if there was a reject function that comes with.  It's good that it never returns reject but a `jestSetup.

[2021-03-16 19:09] Turkialmalki opened #13 "RTL Support!"
Hi @dominicstop,

I really appreciate the amazing effort you put into this great library.

I’m facing an issue with RTL.

[2021-03-22 19:47] zachgibson opened #14 "Add Support to Omit Menu Title"
It would be cool if menu title was optional as sometimes you don't want a title.

[2021-03-23 08:02] guytepper commented on #14
`menuTitle: ''` will hide the title

[2021-03-23 14:09] zachgibson commented on #14
I thought I tried this, maybe fast refresh messed it up. In any regard just tried it and it works like you said! Thanks.

[2021-03-23 14:09] #14 closed

[2021-04-15 12:09] zmefz opened #15 "Crash if there is no parent react component when context menu is closing"
Steps:
1. User does a long press on react element so context menu appears
2. For some reason this react component getting unmounted
3. User click on one of options or at the background
-> The app is crashed.

I see two possible options here:
 - close the menu when the component is unmounted;
 - ignore the component lifecycle but add some kind of check to prevent application crash when the menu is

[2021-04-17 17:38] Park-SeungWoo opened #16 "target overrides the `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` with react-native-ios-modal"
after I using this, I supposed to use react-native-ios-modal.
but when I did pod install
this warning appeared.

!] The `Myapp [Debug]` target overrides the `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` build setting defined in `Pods/Target Support Files/Pods-Myapp-MyappTests/Pods-Myapp-MyappTests.debug.xcconfig'. This can lead to problems with the CocoaPods installation.

how can I fix it??

[2021-04-27 12:55] chenxiang39 opened #17 "How to custom internal view?"
here is my target , l just want to hidden title and not have extra width

current:
![image](https://user-images.githubusercontent.com/41722774/116244798-1ef20600-a71d-11eb-952c-0a0cf00bcc05.png)

target:
![image](https://user-images.githubusercontent.com/41722774/116244850-2addc800-a71d-11eb-9fb0-b163944c385c.png)

[2021-04-27 13:23] guytepper commented on #17
See https://github.com/dominicstop/react-native-ios-context-menu/issues/14

[2021-04-27 14:22] chenxiang39 commented on #17
Thanks a lot !, and other question , how to let my TouchableOpcaity not transparent and add width?
![image](https://user-images.githubusercontent.com/41722774/116257825-3d5dfe80-a729-11eb-8490-316a4fd8aefe.png)

[2021-04-27 14:32] chenxiang39 commented on #17
Any one can tell me?

[2021-04-27 21:44] #17 closed

[2021-06-09 05:04] RazaShehryar commented on #15
Facing the same issue

[2021-06-09 05:06] RazaShehryar commented on #9
Hey. The same above code is working out for me. The only thing that I am facing is the crash when you navigate quickly when the context menu view is still visible. Here's what I am talking about.

https://user-images.githubusercontent.com/42263739/121296533-4803da00-c90a-11eb-9b30-8a16035323e2.mov

[2021-06-14 12:51] adhip94 opened #19 "Better view for larger objects"
Currently I am building a chat application using gifted chat. I have integrated the context menu library and it works brilliantly, except for chats with a huge text (50000 characters). An example of a huge text chat is shown below.
![image](https://user-images.githubusercontent.com/20703483/121894817-33c24180-cd3d-11eb-86f3-5acdc713f2ab.png)

On whatsapp even if the text is huge I guess they push

[2021-06-28 10:06] Kordonme opened #20 "How to disable a ContextMenuView in a list"
Let's say I have a list of items in a `FlatList` and I want to disable the `ContextMenuView` on a few of these items.

How would I go around doing that?

[2021-07-31 07:30] Kordonme commented on #8
I'd happily create a PR, but will it be reviewed and merged? Not much activity lately @dominicstop

[2021-08-28 10:37] henrymoulton opened #21 "Context Preview Menu that doesn't close on tap."
Hi @dominicstop,

Really love the library, is it possible to have a Preview that doesn't close on tap, instead it contains Touchables that when pressed will do various thing?

[2021-09-01 08:22] musetraine opened #22 "requirenativecomponent: "RCTContextMenuView" was not found in the uimanager"
requirenativecomponent: "RCTContextMenuView" was not found in the uimanager, I think it is can be because EXPO, and I don't know what can I do with it, maybe some solution?
![Снимок экрана 2021-09-01 в 11 19 30](https://user-images.githubusercontent.com/18230499/131637762-c1509092-acf2-4bed-80f3-05a9f6af3b5a.png)

[2021-09-06 06:58] adhip94 opened #23 "PrecompileSwiftBridgingHeader error while building for simulator in debug mode"
Hi,

So I always get this error while building my application for **iOS** in **debug** mode in **simulator only**.

[code]

I don't face any issues while building for release mode in simulator or for the actual device in both release and debug mode. I am using Xcode 12.5.1 and running RN 0.65.1, I was facing this issue in RN 0.64.2 as well.

Anyone knows how to resolve this?

[2021-11-06 05:50] nandorojo commented on #19
Maybe try this lib?

https://github.com/enesozturk/react-native-hold-menu

[2021-11-07 03:00] nandorojo opened #24 "TypeScript"
It would be nice to have TS support here.

[2021-11-10 18:45] nandorojo opened #25 "Icon image doesn't work"
When I set `icon.iconType` to `REQUIRE`, I see this issue:

<img width="300" alt="Screen Shot 2021-11-10 at 1 40 19 PM" src="https://user-images.githubusercontent.com/13172299/141173733-7a95a2b5-b41a-4fd2-af43-03ac39fb735e.png">

It's on a simulator using iOS 14.5.

I opened the url of that image in the Safari, and it works there:

<img width="300" alt="Screen Shot 2021-11-10 at 1 42 36 PM" src="h

[2021-11-10 18:56] nandorojo commented on #24
Duplicate of #8

[2021-11-10 18:56] #24 closed

[2021-11-10 19:16] nandorojo commented on #8
I've been slowly adding my own types

[code]

I'm not sure if there are plans to maintain the library again. I hope so, because it's one of the best native libs I've come across.

[2021-11-11 23:46] nandorojo opened #26 "RCTBridge required warning"
Not sure if I should be concerned about this or not, but I get it when I use the menu:

![IMG_1E1D7E7E5A31-1](https://user-images.githubusercontent.com/13172299/141384768-1afa1f5b-06f8-4083-b3b1-21793707b221.jpeg)

[2021-11-11 23:47] nandorojo commented on #26
Related: https://github.com/facebook/react-native/issues/16376#issuecomment-347646858

[2021-11-11 23:49] nandorojo commented on #26
Sorry, this isn't related to this lib. https://github.com/facebook/react-native/issues/16376#issuecomment-946895681

[2021-11-11 23:49] #26 closed

[2021-11-12 11:58] Kordonme opened #27 "Nested `ContextMenuView` triggers `onPressMenuItem` for each context menu view"
Having a `ContextMenuView` inside another `ContextMenuView` will trigger `onPressMenuItem` for both of the components when triggered for the inner component.
However, the UI works as expected. I'm not sure of this is really an issue, but I would like some feedback on how to handle this use case.

[2021-11-13 02:43] dominicstop commented on #27
asdfghnjmjjklkl seems like an event propagation bug (oops, i'll fix it in the next minor version).

Hopefully this gets fixed by simply calling `e.stopPropagation()` on the event object 😔.

[2021-11-13 03:25] dominicstop commented on #27
asdfghjkljkljkl did some testing and it does get fixed by just calling `event.stopPropagation()`

https://user-images.githubusercontent.com/18517029/141603999-76f56e30-fc00-4bc2-a652-1e73ecf347fd.mov

[2021-11-14 23:24] dominicstop commented on #27
Hey there, I fixed this in the newest release (`1.4.0`) ✨.
If the bug is still present, please let me know, and I'll re-open this issue asdfghjkljklklsdfgjkl

[2021-11-14 23:24] #27 closed

[2021-11-15 09:54] Kordonme commented on #27
Wow, it works. Thank you so much for the quick fix and release! And thank you so much for your hard work!

[2021-11-15 09:56] Kordonme commented on #8
It looks like types are included in latest version (`1.4.0`). I just can't seem to get them to work. Is this just me?

[2021-11-15 13:43] dominicstop commented on #8
Hey @Kordonme ✨

I created a new fresh project, and installed the package and the type annotation seems to work ok?

![image](https://user-images.githubusercontent.com/18517029/141791248-42345612-3de7-471a-a09b-7fe34914bcbc.png)

asdfghjkljkljklkjklshjdgk maybe try uninstalling and installing the package again? (and maybe clearing the cache?) idk why, but sometimes the type annotations don't immed

[2021-11-15 17:42] nandorojo commented on #8
Thank you @dominicstop!!

[2021-11-26 02:32] dominicstop commented on #8
Finished re-writing the [examples](https://github.com/dominicstop/react-native-ios-context-menu/tree/master/example/src/examples) to typescript (now i just need to finish re-writing the documentation 😔).

So I'm closing the issue now ✨

[2021-11-26 02:32] #8 closed

[2021-11-26 02:54] dominicstop commented on #25
Hey this has been fixed in version `1.5.0` (so i'll be closing this issue now...) ✨

See [ContextMenuViewExample18](https://github.com/dominicstop/react-native-ios-context-menu/blob/v1.6.0/example/src/examples/ContextMenuViewExample18.tsx) (or the example snippet below) for some example usage on how configure a menu action to use to use a custom image for its icon 😌

https://user-images.githubuser

[2021-11-26 02:54] #25 closed

[2021-11-26 02:55] nandorojo commented on #25
You’re on a roll 🔥

[2021-11-29 14:42] nandorojo commented on #20
Couldn't you just conditionally render it?

[2021-11-29 23:07] dominicstop commented on #22
asdfghjkljjkjksjf sorry for the late reply, let me look into it haha

[2021-11-29 23:15] dominicstop commented on #23
asdfghjkdsffljkl ok so this library is written in swift so there's some extra steps involved to make it work on react-native.
<br>
I'm gonna do some debugging, but in the meantime:
1. Have you tried adding an [empty swift file](https://github.com/dominicstop/react-native-ios-context-menu/blob/master/README-next.md#troubleshooting-xcode-build-error-swift)?
2. Have you tried modifying the project's[

[2021-11-29 23:19] dominicstop commented on #21
asdfghjksjhslkkl, I did some testing in the past and I couldn't get this to work (the preview isn't interactive, and doesn't receive touch-events no matter what I do).
<br>
Maybe this will change in a future iOS version, but atm there's nothing I can do sadly.

[2021-11-29 23:19] #21 closed

[2021-11-29 23:31] dominicstop commented on #20
asdfghjkdjkflsl as @nandorojo mentioned, you can also use conditional rendering (but it'll trigger a relayout, and can be potentially expensive if done repeatedly).
<br>
In the next release, I'll add add a prop called `isContextMenuEnabled` to make this easier haha (I'll close this issue once I do that).

[2021-11-30 00:02] dominicstop commented on #20
Hey, the `ContextMenuView.isContextMenuEnabled` prop has been implemented in version [`1.7.0`](https://github.com/dominicstop/react-native-ios-context-menu/releases/tag/v1.7.0), so I'll be closing this issue now ✨
<br>
Thanks!

[2021-11-30 00:02] #20 closed

[2021-11-30 03:40] dominicstop commented on #23
Hey, installed this library on expo bare workflow (version `43.0.2`) and it seems to work okay? I just installed it + ran `pod install` and worked without any issues.
<br>
![Screen Shot 2021-11-30 at 11 35 55 AM](https://user-images.githubusercontent.com/18517029/143981626-f17d4c40-fea0-4216-ab05-2185c9a39d18.png)
<br>
I'll be closing this issue now, thanks!

[2021-11-30 03:40] #23 closed

[2021-11-30 03:41] dominicstop commented on #22
Hey, installed this library on expo bare workflow (version `43.0.2`) and it seems to work okay? I just installed it + ran `pod install` and worked without any issues.
<br>
![Screen Shot 2021-11-30 at 11 35 55 AM](https://user-images.githubusercontent.com/18517029/143981626-f17d4c40-fea0-4216-ab05-2185c9a39d18.png)
<br>
I'll be closing this issue now, thanks!

[2021-11-30 03:41] #22 closed

[2021-11-30 08:48] Kordonme commented on #20
Wow, thanks for his @dominicstop 🚀

And yes, I could conditionally render it, but I would still like the children of the context menu to show up. Having a boolean makes this less cluttered for me as a developer. @nandorojo

[2021-11-30 15:35] nandorojo commented on #20
I agree it's a nicer DX with the Boolean, but that's still possible FWIW:

[code]

[2021-12-07 11:56] Kordonme opened #28 "Use component as icon"
Is it possible to use a custom component as an icon? We have a component render some svg using `react-native-svg`.

[2021-12-22 09:50] adorum opened #29 "Android TypeError: Cannot read property 'Commands' of undefined"
@dominicstop Based on docs, `ContextMenuView` should render regular View component on Android. My android app crash with an error `TypeError: Cannot read property 'Commands' of undefined` at the moment of `import {ContextMenuView} from 'react-native-ios-context-menu'`. I conditionally render the component which contains this import statement only for ios platform.

Any suggestions?

[2021-12-22 22:19] nandorojo commented on #29
Until it's fixed, you could re-export an empty view inside of your own file, such as: `context-menu.android.tsx`:

`context-menu.tsx`
[code]

`context-menu.android.tsx`
[code]

And then, in any file, just do:

[code]

[2021-12-23 07:20] adorum commented on #29
Thanks @nandorojo. Worked like a charm! Just can't find out why its working on android by default (w/o your suggestion) in the example project of this repo. Anyway thanks :)

[2021-12-27 23:47] ethan1141 opened #30 "Navigating back to screen from e.g. screen A -> B -> A causes ContextMenuView to disappear from this.props.navigation.navigate"
https://user-images.githubusercontent.com/53418441/147514124-c4168bdc-9a65-4c31-80fd-d4e15c046378.mp4

`<Pressable style={styles.row} onPress={() => { this.props.navigation.navigate("View Note", { note: item } ); }}>
                         <ContextMenuView   onPressMenuItem={({nativeEvent}) => {
    alert(`onPressMenuItem nativeEvent: ${JSON.stringify(nativeEvent)}`)
  }} menuConfig={{

[2021-12-28 00:48] ethan1141 commented on #30
it is essentially destroying itself

[2022-01-01 22:46] dominicstop commented on #29
hi, thanks for creating this issue ✨

sorry it took so long @adorum, but i implemented @nandorojo recommendation in the latest [1.7.1 patch](https://github.com/dominicstop/react-native-ios-context-menu/releases/tag/v1.7.1) haha

i used to use `*.ios.js`/`*.android.js` in an older version of this library (i.e. [v1.3.0](https://github.com/dominicstop/react-native-ios-context-menu/tree/8c41179dc2e919

[2022-01-02 07:14] dominicstop commented on #29
this has now been fixed in [v1.7.2 patch](https://github.com/dominicstop/react-native-ios-context-menu/releases/tag/v1.7.2) ✨
<br>
screenshot:
![Screen Shot 2022-01-02 at 2 59 10 PM](https://user-images.githubusercontent.com/18517029/147868691-6ee75f4f-87b1-4f7d-af79-14acd0974745.png)
<br>
please re-open this issue if this patch doesn't fix the issue haha

[2022-01-02 07:14] #29 closed

[2022-01-02 15:30] Flam3rboy opened #31 "Customize menu action item"
Thank you for creating this amazing package 🚀

I'm currently trying to add custom buttons to the context-menu, because not every emoji reaction should be a separate action menu item. That's why I've made a custom preview render, which renders a small bar with pressables.

<img src="https://user-images.githubusercontent.com/34555296/147880386-d96aa12e-98eb-43aa-94de-68c168d161b6.png" width="300">

[2022-01-03 06:38] dominicstop commented on #31
Hey, unfortunately this is a limitation of the `UIMenu` API 😔

This is actually something I want too, but TLDR the preview doesn't receive any touch events once it's being previewed.

The one in the iMessage app (Reactions), and Safari app (webpage previews), uses private API's.

As soon as apple exposes the public API, I'll add it in haha (maybe if we all file a [radar](https://developer.apple.co

[2022-01-03 22:13] nandorojo commented on #31
Ah I wish Apple would just open this awesome API...thanks for looking into it @dominicstop

[2022-01-04 13:04] Flam3rboy commented on #31
Ok not much we can do about, but thank you for your effort. Get well soon @dominicstop

[2022-01-06 10:45] dominicstop commented on #31
Hey sorry for the late response haha here are results of my testing ✨
[code]

* `UITransitionView` is internal, not published in the SDK

<br>

[code]

* `UIViewController` (Preview Content) -> `UITransitionView` (Internal) -> `UIWindow` (Main Window)

<br>

[code]

* This is how you get the  parent view controller of the preview

<br>

[code]

* the preview is being presented using the current wi

[2022-01-06 18:01] dominicstop commented on #31
@nandorojo @Flam3rboy its very rough, but here's a proof of concept haha

basically this lets you attach an auxiliary view (that can be interacted with) on top of the edge of the context menu preview

https://user-images.githubusercontent.com/18517029/148428709-cfa2f805-95a2-4ebe-984c-487d68f8c17b.mov

[2022-01-16 22:13] Flam3rboy commented on #31
This is awesome, let me know if you add it to the library 🚀

[2022-01-17 00:07] dominicstop commented on #31
@Flam3rboy i posted a preview on [twitter](https://twitter.com/godominic/status/1482768021949419522?s=21)

i'm still designing an API around it, but i'm not sure if the app store would allow this though haha

[2022-01-21 15:16] axeldelafosse opened #32 "Set specific color scheme"
Hey Dominic,

Thank you very much for your hard work!

It's not really an issue but more a question or feature request: can we set a specific color scheme for the menu?

We let our user choose between light and dark mode but unfortunately the native menu is using the device color scheme.

[2022-01-23 17:01] matheusmichels opened #33 "Make menu title optional"
Hey @dominicstop, first of all, thank you so much for this package!

As far as I know, most part of the apps that use the UI Context Menu don't have a title for it (e.g.
https://www.appcoda.com/wp-content/uploads/2019/09/context-menu-maps-photos-1024x709.png). What do you think about setting the title as optional?

[2022-01-25 20:54] marcosrdz commented on #30
I downgraded the package to avoid this issue.

[2022-01-26 13:47] adorum commented on #30
same issue here. Event downgrade to 1.7.1 or 1.7.0 didn't help. Any suggestions?

[2022-01-26 14:10] marcosrdz commented on #30
I was on 1.3.0 prior to updating to 1.7.2 and seeing this issue. Went back to 1.3.0

[2022-01-26 14:49] adorum commented on #30
Latest working version is 1.4.0

[2022-01-27 01:36] dominicstop commented on #30
asafgdhjskjkl sorry I just saw this — it turns out, whenever a new screen is pushed, `didMoveToWindow` gets called, triggering the cleanup process haha (working on a quick fix right now)

![image](https://user-images.githubusercontent.com/18517029/151275525-ebd973d1-b1b3-4e72-aac7-9a4c6016cdc2.png)

[2022-01-30 00:38] Flam3rboy opened #34 "Content wrapped inside of ContextMenu gets invisible after navigating away"
I've first created an issue on [react-navigation](https://github.com/react-navigation/react-navigation/issues/10308), but found out that this issue is related to this library.

### Current behavior

I have a FlatList (with ``windowSize: 1``) of messages in my chat page, but when I navigate to a new page the items in this list turn blank and have to be rerendered to be visible again.

https://user-

[2022-02-01 22:08] dominicstop commented on #34
Hey sorry this took so long, but i fixed this in [v1.7.4
](https://github.com/dominicstop/react-native-ios-context-menu/releases/tag/v1.7.4) — this patch contains native code changes, so please don't forget to run `pod install` after updating ✨

please let me know if there are still problems and I'll re-open the issue — I haven't tested this thoroughly so there might be some edge-cases I've forgot

[2022-02-01 22:08] dominicstop commented on #30
Hey sorry this took so long, but i fixed this in [v1.7.4
](https://github.com/dominicstop/react-native-ios-context-menu/releases/tag/v1.7.4) — this patch contains native code changes, so please don't forget to run `pod install` after updating ✨

please let me know if there are still problems and I'll re-open the issue — I haven't tested this thoroughly so there might be some edge-cases I've forgot

[2022-02-01 22:08] #30 closed

[2022-02-01 22:16] dominicstop commented on #33
hello! i'm just mirroring the [`UIMenu`](https://developer.apple.com/documentation/uikit/uimenu/3358594-init) API and it requires the menu title to be set haha
[code]

you can always just pass in an emoty string though if you don't need a menu title:
![Screen Shot 2022-02-02 at 6 14 40 AM](https://user-images.githubusercontent.com/18517029/152060471-d3513b9e-e6f6-483e-ba0f-89c653fb790b.png)

befor

[2022-02-01 22:32] ethan1141 commented on #30
Much appreciated, I will take a look

[2022-02-01 23:08] #33 closed

[2022-02-01 23:29] dominicstop commented on #32
hello ✨

this is possible via the [`UIAppearance`](https://developer.apple.com/documentation/uikit/uiappearance) API —  but I'm going to do it in a separate library called `react-native-ios-utilites` since this isn't specific to `UIMenu`.

this involves overriding the root view controller's `overrideUserInterfaceStyle`, and manually specifying whether to use the dark or light appearance — the prob

[2022-02-02 17:40] Flam3rboy commented on #34
Awesome, thank you very much for time, the community and I appreciate the effort. Keep up the great work 🚀

[2022-02-02 22:10] dominicstop commented on #32
@axeldelafosse hey i checked the examples you mentioned, and the one from expo just sets the background color property of the root view controller's view (e.g. `rootVC.view.backgroundColor`)

with the approach i mentioned earlier, the appearance can only be changed via subclassing `UIViewController`, overriding the default implementation of `overrideUserInterfaceStyle`, and replacing the current w

[2022-02-07 08:00] intergalacticspacehighway opened #35 "Opening and closing menu freezes screen"
Hey dominic. We're facing a weird issue that happens only on a release build. Even more weird is that it's not reproducible on building with release scheme on XCode.

Steps:
- Open menu
- Close it by swiping anywhere in screen (don't tap or select menu item)
- Any Pressable element on screen don't respond until we open or close the menu again

I can't share a reproducible demo, because I am not ab

[2022-02-07 23:31] dominicstop commented on #35
oops, let me take a look — i only use `TouchableOpacity` (out of habit) so i never came across this (going to write a small example to test this out)

i'll post a patch ASAP once i find the bug

[2022-02-12 15:29] pepyta opened #36 "Expo config plugin"
Hey! I think that it would be awesome to have this package available in managed workflow.

As of Expo SDK 41+, there is a feature called "Config Plugins", which gives developers an opportunity to create custom dev client for their Managed workflow apps with custom native code in it.

[https://docs.expo.dev/guides/config-plugins/](https://docs.expo.dev/guides/config-plugins/)

[2022-02-21 09:07] robertherber opened #37 "Android support"
I noticed there's [another library](https://github.com/mpiannucci/react-native-context-menu-view) that's not as fully featured as this one - but it offers Android support through `PopupMenu`. Do you have any plans of doing something similar?

[2022-02-21 16:37] rorazliev commented on #9
Just solved the @RazaShehryar's issue. Here's a code:

[code]

Explanation:

Pressable always invokes onPress right after onPressOut. onLongPress, if defined, is called instead if a certain time from onPressIn passes. It means onPress will always be called if onLongPress is not defined. (even if you've been pressing eternity)

The conflict happens, Pressable navigates a user to a different screen

[2022-02-24 03:36] intergalacticspacehighway commented on #35
Thanks, Dominic. This seems to be unrelated to this library. I still haven't been able to repro the issue locally even with the release build but the same issue happens with react-native-menu's menu 😞. I will update if I find something. Closing this.

[2022-02-24 03:36] #35 closed

[2022-02-24 06:42] dominicstop commented on #35
i'm going to try and release a quick patch — there's some leftover experimental code/wip features in the release version, i'll commenting them out, maybe it'll fix it haha

[2022-02-24 11:44] intergalacticspacehighway commented on #35
No worries @dominicstop I just figured it out. The issue was with the LogRocket library being used in production. Your library is awesome. Thank you again! :)

[2022-03-28 16:59] dominicstop commented on #30
@tryheirloom-matheus let me take a look haha (i tested it with a min. working example with just a single screen though, but maybe there are some edge cases)

in the meantime, have you run `pod install`? I made some changes in the native side (maybe it hasn't been applied yet when you updated?)

[2022-03-28 17:40] tryheirloom-matheus commented on #30
thanks @dominicstop! yes, I ran it :)
- react-native-ios-context-menu (1.7.4):

[2022-04-16 23:22] ZerakPalani opened #38 "navigation.push"
Using contextMenuButton on a screen, but this screen also has some buttons(navigation.push used here) somewhere else (not even related to the contextMenu) but it seems like if you go to a navigation.push() and then go back to the previous screen that has the contextMenu, the contextMenu is removed and becomes a blank/empty space.

I only found 1 article related to this issue, seems like not many h

[2022-04-17 05:32] i-ira commented on #36
+1

[2022-04-18 02:12] i-ira opened #39 "Add ability to show a new view when Preview.ContextMenuInteractionCommitStyle is "pop""
It would be so cool if we can nicely transition to a new view/screen when we pop the preview after pressing it - a very commonly used tactic in many mainstream apps (twitter, instagram etc.).

Looking at this article: https://kylebashour.com/posts/context-menu-guide - seems the way to go is to tap into the `animator.addCompletion` instance method from the `contextMenuInteraction` func like so:

[c

[2022-04-18 11:55] fukemy commented on #37
waiting for ur answer too

[2022-05-11 17:31] matheusmichels opened #40 "Open a context menu programmatically"
Hey @dominicstop! I'm really enjoying this library, thanks so much for your work on it!
I think one great thing to add would be the ability to open a context menu programmatically/imperatively.
The API could be something like this:
[code]
Or
[code]

What do you think? 😎

[2022-05-12 19:46] ferrannp commented on #34
@dominicstop I think I am facing a similar issue. I have a `FlatList` and every item has a 3 dots icon, when you press it, you get the context menu.

Well, when you put the app into the background and come back after a while, the 3 dots are gone and you cannot press it at all. And the strangest thing is that i happens only sometimes (but quite often).

[2022-05-12 22:11] dominicstop commented on #34
@Flam3rboy let me take a look

what version of react-native + the library are you using?

and do you know if the bug still happens on production mode?

[2022-05-13 16:25] ferrannp commented on #34
Yep! It happens in production. I'm with react-native 0.66.x and the latest version of this library (1.7.4).

[2022-05-14 14:48] ferrannp commented on #34
@dominicstop I found a way to make this happen that might be related. If you start making the swipe back gesture to close the screen but then you swipe again (because you don't want to close it anymore). Then the `cleanup` functions gets called anyway.

[2022-05-14 17:27] ferrannp commented on #34
@dominicstop another example this happens. You have an app with bottom tabs. You are in one tab using your library. You change to another tab. Put the app in the background. Do something else. Come back to the app and go back to the first tab. Then the buttons using your library are invisible (they are not there).

[2022-05-24 11:14] ferrannp commented on #34
Hey @dominicstop. I patched the library as follows and it has been working for me so far:

[code]

[2022-06-11 13:41] andreialecu commented on #32
It seems this also came up as a requirement in our project.

I’ve been reading the documentation of [UIAppearance](https://developer.apple.com/documentation/uikit/uiappearance), and it appears that there’s a mention of:

Based on that notice, my understanding is that it may not be exactly straight-forward to change this at run-time. 🤔

[2022-06-16 07:42] fukemy opened #41 "Support preview view( like reaction...) like message,..."
Hi, thanks for great lib
As u can see the picture here, did u support to show a custom preview include reaction? Thanks

![image](https://user-images.githubusercontent.com/8202437/170690068-be804c0e-3eee-40c7-921d-d47dbb5e1361.png)

![image](https://user-images.githubusercontent.com/8202437/170690121-28141e45-d1a8-46ad-8817-24e67ebcb585.png)

[2022-06-16 07:49] fukemy commented on #37
@dominicstop plz help

[2022-06-16 08:12] robertherber commented on #37
@fukemy I noticed there’s another new library that might be worth checking out (haven’t had time to try it though) with cross-platform support https://github.com/nandorojo/zeego

[2022-06-16 08:43] fukemy opened #42 "CustomPreview with button => Button can not click"
![Screen Shot 2022-06-16 at 15 41 55](https://user-images.githubusercontent.com/8202437/174030505-e790dd96-c2cb-4047-90d3-cff70fd9df30.png)
HI, thanks for great lib, I am using your lib to build a screen with custom reaction preview like this, each reaction icon is ***TouchableOpacity***

[code]

But the problem is when click into icon, the context menu dismiss and it's does not fire event into To

[2022-06-16 09:12] fukemy commented on #31
Hi, i done it inside my Swift project, you can see here:

My logic:

https://user-images.githubusercontent.com/8202437/174036068-76047fb2-83d4-4393-997d-131873c8ffd3.MP4

But i dont know how to do it's in React Native, can u  help? Thanks so much

[2022-06-16 09:16] fukemy commented on #2
Hi, i dont this feature inside my app, but i dont know how to did it with React Native, can u help?
https://user-images.githubusercontent.com/8202437/174037047-4790d24d-465a-4dc4-8644-cde964c1f84e.MP4

[2022-06-16 09:25] fukemy commented on #42
it's look like native ios problem, the screen was covered by a transparent ScrollView from Apple Api,
I done this when developer my native Swift App

https://user-images.githubusercontent.com/8202437/174037708-9d4f85ee-0116-467a-86dc-6d5c4c158768.MP4

Here is my logic:
1. I created CustomPreviewScreen contain Image + ReactionView (vertical align), note:
    ReactionView is only a blank view with *

[2022-06-16 09:32] fukemy commented on #2
please refer to my question https://github.com/dominicstop/react-native-ios-context-menu/issues/42

[2022-06-16 09:52] fukemy commented on #42
I just double check again with your ios code, then I can not found willDisplayContextMenu delegate, in my class Im using collectionView, so it provide
[code]

[2022-06-17 09:42] fukemy opened #43 "Context menu flickering(may be it re-render) after modify message data"
Hi, i just found this problem. it's REALLY HARD TO KNOW.

you can see the video here, as I just add a reaction to view:

https://user-images.githubusercontent.com/8202437/174272591-80fdb8cc-c6eb-4c04-baa2-15015bcbfee8.mov

Here is the main layout for view:

[code]

Inside onPressMenuItem, i just update message:

[code]

[code]
I tried to use https://github.com/mpiannucci/react-native-context-menu-

[2022-06-17 09:43] fukemy commented on #43
@dominicstop plz help bro

[2022-06-17 09:45] fukemy commented on #43
I have tested with assets image, text bubble, it's still flickering

I tried to update message inside Image touch(without show context menu), it's work, The flick only show when context menu action

[2022-06-17 09:51] dominicstop commented on #43
Let me take a look

but i need to know a few things first so i can reproduce the bug:
* react-native version
* library version
* iOS version
* Running on: Debug or Production
* Running on: Simulator or Device

[2022-06-17 09:55] fukemy commented on #43
Hi, I just change update message function inside ***onMenuDidHide***:
[code]
Then it's work without any problem, you can see the video here:

https://user-images.githubusercontent.com/8202437/174275009-c2cdad4b-69f4-4667-b105-25f77237611f.mov

THanks god, I can reproduce case of bug, may be I tried to update state when the time animation running

react-native version: "^0.68.0",
library version: "

[2022-06-17 11:51] dominicstop commented on #43
@fukemy  Hey, I've added [`Test02Screen`](https://github.com/dominicstop/react-native-ios-context-menu/blob/7dbf32229d0dec0ef04c86a0ec0d0e218355ef71/example/src/screens/Test02Screen.tsx) to reproduce your bug.

https://user-images.githubusercontent.com/18517029/174292418-a660a28a-86a9-43a3-b33a-51f35ef43160.mov

<br>

As a temp. solution, I'm going to update `onPressMenuItem` so that it fires afte

[2022-06-17 12:05] fukemy commented on #43
yeah, love u bro

[2022-06-17 12:06] fukemy commented on #43
sorry i will let u close this issue :3

[2022-06-17 13:32] #43 closed

[2022-06-18 20:20] nandorojo commented on #31
Yeah, see `renderAuxiliaryPreview`

[2022-06-18 20:27] nandorojo opened #44 "Add loading state"
Could we add a `loading` state to menu items?

[2022-06-22 22:29] brentvatne commented on #36
this shouldn't be necessary, there are no additional config steps after installing the library

[2022-06-22 23:34] #36 closed, assigned to nobody

[2022-06-23 21:10] dominicstop commented on #44
working on it it's just taking a bit longer since I had to refactor/rewrite a few things asadhsgjfhksldfsdlg

It's almost ready, just need to do a few more tests + write the examples haha

https://user-images.githubusercontent.com/18517029/175399937-e6f81ed8-02e6-4da6-87d4-43fe0abcfdcd.mov

(i'll close this issue once i release it in the next version ✨)

[2022-06-24 22:49] dominicstop commented on #44
Hey, this has been added in version `1.10.0` so i'll be closing this issue now ✨

[2022-06-24 22:49] #44 closed

[2022-07-21 19:43] Flam3rboy opened #46 "bug: crashes with xcode beta"
// crashes when the context menu is being created

As commented in the file [RNIContextMenuView.swift](https://github.com/dominicstop/react-native-ios-context-menu/blob/master/ios/src/ReactNative/RNIContextMenuView/RNIContextMenuView.swift#L1099-L1105) the app crashes when I'm trying to open the context menu.
Is there any fix for this issue?

Environment:
- macOS 12.4
- iOS 16.0
- react-native 0.6

[2022-07-22 13:43] dominicstop commented on #46
Hi! This is a bug/known issue with XCode beta ([link to release notes](https://developer.apple.com/documentation/ios-ipados-release-notes/ios-ipados-16-release-notes))

[2022-07-22 13:43] #46 closed

[2022-07-26 08:43] fukemy opened #47 "[HELPPPPPP] get click event from ContextMenuView"
Hi, i want to handle click into ContextMenuView, because my keyboard + textInput need some calculated code,
when click outside of ContextMenuView( it's mean i return ContextMenuView from renderItem with FlatList) => i can handle it

As you can see video here:

https://user-images.githubusercontent.com/8202437/180963326-ede2c648-38b1-4a91-846f-9efc9d126506.mov

But when click into ContextMenuView,

[2022-07-26 08:44] fukemy commented on #47
im sure the problem is ***ContextMenuView click***, because when remove ContextMenuView, it work normally

[2022-07-27 01:10] dominicstop commented on #47
@fukemy let me look into it, but i have to make a test case first so i can debug the issue

tbh, i'm not really sure what's wrong — it's a layout issue related to the keyboard right? could you describe it in more detail?

[2022-08-02 22:10] Flam3rboy commented on #42
duplicate of #31
You are trying to get press events from the custom preview screen, which is not possible.
You need to use the newly added [auxiliary view property](https://github.com/dominicstop/react-native-ios-context-menu/blob/master/example/src/examples/ContextMenuAuxPreviewExample01.tsx) to be able to add a custom view with pressables enabled.

[2022-08-02 22:11] Flam3rboy commented on #41
duplicate of #31

[2022-08-04 15:23] dominicstop commented on #47
hey i made a test case for your issue: [`Test03Screen`](https://github.com/dominicstop/react-native-ios-context-menu/blob/master/example/src/screens/Test03Screen.tsx)

https://user-images.githubusercontent.com/18517029/182884608-0211d1fb-012a-4076-9afe-9fbdefdfaffa.mov

<br>

but i couldn't reproduce the bug...
if you're still having issues, i'll reopen this 😊

[2022-08-04 15:23] #47 closed

[2022-08-08 03:25] fukemy commented on #31
ok tks worked

[2022-08-08 03:25] #42 closed

[2022-08-08 03:44] #41 closed

[2022-08-08 03:44] fukemy commented on #41
tks

[2022-08-08 03:46] fukemy opened #48 "renderAuxiliaryPreview not show full content"
Hi, i dont know how to explain the problem, pls see the image below:

below image show full AuxiliaryPreview content
![Simulator Screen Shot - iPhone 13 - 2022-08-08 at 10 45 26](https://user-images.githubusercontent.com/8202437/183334888-d1ad4643-6a8b-4375-9138-2aff6e9b214d.png)

Below is not, when previewcontent is small:
![Simulator Screen Shot - iPhone 13 - 2022-08-08 at 10 45 16](https://user

[2022-08-08 04:07] fukemy commented on #48
solved using alignmentHorizontal

[2022-08-08 04:07] #48 closed

[2022-08-08 04:11] fukemy opened #49 "how to close context menu by click into AuxiliaryPreview?"
Hi, i want to display AuxiliaryPreview as message reaction, click to choose reaction then close context menu, but in document i didnt see any method related, can u help?

[2022-08-08 07:06] dominicstop commented on #49
Hi, you can can programmatically close the context menu via calling `dismissMenu`.

Search for the keyword "dismiss" in the docs, or take a look at [`ContextMenuView` Test 08](https://github.com/dominicstop/react-native-ios-context-menu#contextmenuview-test-08) for some example code + gif.

hope this helps, xx

[2022-08-08 07:06] #49 closed

[2022-08-08 08:49] fukemy commented on #49
thanks, it's worked

[2022-08-08 10:31] fukemy opened #50 "with AuxiliaryPreview, verylong text make the action not show full"
Hi, with verylong of text, the action does not display full, like below picture:
![Screen Shot 2022-08-08 at 17 30 17](https://user-images.githubusercontent.com/8202437/183398630-b6954d99-11cf-4c7b-afa2-6f4d72105060.png)

Can u take a look

[2022-08-08 10:44] fukemy commented on #50
here is the video test with real device, for more information:
[video](https://streamable.com/yckndb)

[2022-08-11 08:01] fukemy commented on #6
hi @oferRounds , whichs lib u used for android? I finding it too

[2022-08-11 10:39] dominicstop commented on #50
Hi, unfortunately I do not have the time to tackle this issue at the moment, but there are workarounds you can employ in order to get around this bug ✨

### Workaround A: Negative Margins
If you know that the context menu preview will be very big, then assign a negative value `marginPreview` so that the aux. preview appears inside of the context menu preview.
[code]

![Simulator Screen Shot - iPho

[2022-08-11 10:39] #50 closed

[2022-08-11 11:18] fukemy commented on #50
nice solution, thank u

[2022-08-18 05:21] fukemy opened #51 "render AuxiliaryPreview only"
Hi, for some messages that can not took any actions(only accept reactions), but i still want to show the AuxiliaryPreview for this message.

But when the actionList is empty, the context menu not show, can u help?

[2022-08-25 22:27] tmbiOS commented on #31
@dominicstop  Hi! Thanks for your library! Can you advice how to render Auxiliary Preview using native code -  Swift, maybe alhorithm.

[2022-08-26 06:41] fukemy commented on #51
hi @dominicstop , can u help me to give some advices?
Like this message

![Screen Shot 2022-08-26 at 13 40 35](https://user-images.githubusercontent.com/8202437/186838816-319e3631-e98d-41e1-bf82-0a28df91324d.png)

It's contain delete options, so it can show AuxiliaryPreview

When message does not contain any actions, the context menu does not trigger, but I still want to show AuxiliaryPreview

[2022-08-26 06:49] fukemy commented on #51
In my case, menuItems isEmpty, but I want to render ***menuTitle*** and *** AuxiliaryPreview***

[2022-08-26 07:59] dominicstop commented on #51
hi unfortunately you need to have at least 1 menu item for aux. preview to work (this is a limitation w/ iOS's API)

however, there is a workaround ✨

take a look at: [context menu preview example 08](https://github.com/dominicstop/react-native-ios-context-menu#contextmenuview-example-11), [aux. preview example 08](https://github.com/dominicstop/react-native-ios-context-menu#contextmenuview-auxili

[2022-08-26 08:02] #51 closed

[2022-08-26 09:01] fukemy commented on #51
Thanks, i got it

[2022-08-29 20:42] Flam3rboy commented on #38
possible duplicate of #34?

[2022-08-29 20:44] Flam3rboy commented on #37
@robertherber `zeego` uses this library under the hood for ios

[2022-08-29 22:39] #31 closed

[2022-08-30 03:38] imyuanx opened #52 "Menu dark mode."
I have a basic menu. I cannot actively activate the dark mode, but it can successfully respond to the system dark mode.
So can we actively activate the dark mode?

[2022-08-30 04:45] fukemy commented on #37
hi @Flam3rboy , i dont know why #zeego can use this library while it's expo support only.

About Android, while no solution for nice context menu, so I decided to create a reaction button beside message like Viber. But I still waiting for great solution in Android

[2022-08-30 07:52] dominicstop commented on #52
i'm planning on implementing this on a future version — i just need to finish a few things first before I can begin working on it ✨

I'll close this issue once I'm done adding it

[2022-08-30 07:58] yunying1 commented on #52
Thanks for your excellent work!

[2022-08-31 20:56] robertherber commented on #37
@Flam3rboy I've started using zeego as well and it works great. Using it is probably the best solution: This library can focus on being an enabler for deeper iOS features while zeego can be the cross-platform abstraction layer.

I'll close this, [zeego](https://github.com/nandorojo/zeego) is the answer for cross-platform support.

[2022-08-31 20:56] #37 closed

[2022-09-09 14:42] fukemy opened #53 "unknown situation: can not click when AuxiliaryPreview near the bottom"
Hi, I dont know how to explain to  you my problem, but the problem seem easy to reproduce, just define view near the bottom, then show context menu with AuxiliaryPreview in bottom, then the area near bottom is unable to click.

You can see my video here: https://streamable.com/sm3487 ( too big so I upload to video host). You can see the video when is done uploading.

In the video, I can not click

[2022-09-13 06:34] nm-ivanbasic commented on #34
Still an issue with react-native-ios-context-menu: 1.12.1 and react native v0.67.

[2022-09-23 14:37] projodesign commented on #30
I've found an edge case - if opening a <Modal> that has presentationStyle="fullScreen" as a prop then the ContextMenuButton disappears on the screen where the modal was called from. "fullScreen" is also the default if no presentationStyle is omitted and the issue also occurs in this scenario.

It seems OK with the other presentationStyles - for me using "overFullScreen" works the same as "fullScre

[2022-09-24 08:55] fobos531 commented on #34
Hey @dominicstop , I can confirm that @ferrannp's patch resolves the issue for me, but in this case I have a slightly different problem. I have a tab view (implemented using react navigation's material top tab navigator) and the issue was me the same as for @ferrannp , as soon as I tried to navigate away from the tab view, the components that used the dropdown menu would disappear. By overridding

[2022-09-24 10:04] ferrannp commented on #34
It seems latest versions have no issue regarding this anymore 👍.

[2022-09-24 19:00] dominicstop commented on #34
@fobos531 hello, sorry for the late reply, haven't been active w/ OSS lately afdghsjdjaklfjklsghshgjdfogjdf

Basically, to prevent memory leaks, a cleanup routine needs to be triggered whenever the component unmounts.

The way I've implemented this is through a parent view controller that listens for when a view is removed (e.g. `RNINavigationEventsReportingViewController`).

The `UIVIewController

[2022-09-24 19:00] #34 closed

[2022-09-25 17:05] nandorojo opened #55 "Remote images"
@dominicstop is there a way to use remote images from a URL? I know we can use `resolveAssetSource` for local images, but it would be cool to have an API for remote images too if possible.

[2022-09-25 17:11] dominicstop commented on #55
afahgsjdhdkfjdk maybe there's some way i can reuse `RCTImage`'s remote image loading logic?

i'll look into it, and update this issue

[2022-09-25 18:53] dominicstop commented on #55
Did some initial testing, and it should be doable asfdghsjdkls;gdfskfks

![Screen Shot 2022-09-26 at 2 50 07 AM](https://user-images.githubusercontent.com/18517029/192160274-3e62809a-3552-4105-8fe4-2477ae9bb8b0.png)

i'll close this issue once i've fully implemented it

[2022-09-25 18:55] dominicstop commented on #53
hi, i'm going to try and make a repro first before i can try and fix the bug asfgsahcsfjsdgjldfjgldfj

[2022-09-25 19:12] nandorojo commented on #55
awesome!!

[2022-09-26 14:25] fobos531 commented on #34
Hey @dominicstop , just wanted to chime in and say that as far as I can see, the latest version work completely fine with the use case I described! Thanks a bunch! 🚀 🎉

[2022-09-27 12:34] dominicstop commented on #55
Hi, i've impl. this in the latest release (i.e. version `1.13.0`), so i'll be closing the issue now asdfgvhdsfjsdbjksvfhewfw

i haven't added the documentation yet, so please refer to [`ContextMenuViewExample26`](https://github.com/dominicstop/react-native-ios-context-menu/blob/master/example/src/examples/ContextMenuViewExample26.tsx) for now ✨

https://user-images.githubusercontent.com/18517029/1

[2022-09-27 12:34] #55 closed

[2022-09-27 20:01] nandorojo commented on #55
Wow amazing work, thanks for doing this so quickly.

[2022-10-02 17:22] nandorojo commented on #52
Controlled dark mode would be awesome @dominicstop, thanks for working on it!

[2022-10-03 02:34] fukemy commented on #53
hi, did u reproduced this problem? I got same issue for same situation:
1 . Make ScrollView
2. Make sure data need to scroll to get bottom of view
3. Got same problem

https://user-images.githubusercontent.com/8202437/193491713-0e362fe1-19c7-44ce-bf2e-294749a6c590.mov

[2022-10-03 02:36] fukemy commented on #53
Here is my class to show auxiliaryPreview if u need:
[code]
[reactions.zip](https://github.com/dominicstop/react-native-ios-context-menu/files/9694287/reactions.zip)

[2022-10-04 18:54] dominicstop commented on #53
Hello, the reason why it's not receiving any touch events is because the aux. view is offscreen (i'm just nudging it by some offset so it appears inside of the screen).

Here's the full explanation:

I'm not really sure how to fix it yet, unfortunately

[2022-10-05 04:47] fukemy commented on #53
hi, did u try this solution?
https://stackoverflow.com/a/41256403/1308590

[2022-10-05 04:52] fukemy commented on #53
I saw this tutorial can fixed it's already in native side, but I dont know how to apply with aux view when received it from brigde
https://zendesk.engineering/ios-how-to-capture-touch-events-outside-uiview-bounds-bc7461970788

[2022-10-05 05:39] fukemy commented on #53
i think we can override method <p>[pointInside:withEvent:](https://developer.apple.com/documentation/uikit/uiview/1622533-pointinside?language=objc)</p> inside aux. parent view

[2022-10-06 23:30] nandorojo opened #56 "React Native 0.69.5"
Hey @dominicstop! I think the new release from #55 may have broken compatibility with RN 0.69.5. Is that possible? I'm seeing this error from `pod install`

[code]

[2022-10-06 23:39] dominicstop commented on #56
afdhgasjhfksd i think it's caused by this line in the library podspec (but i haven't changed this in forever tho)
[code]
<br><br>
the project podfile must be using iOS 9 as the min. deployment target, e.g.
[code]
<br>
Could you try setting it to iOS 10 first, and see what happens? If it works, I'll lower the deployment version for library to iOS 9 in a patch update

[2022-10-06 23:40] nandorojo commented on #56
that seems reasonable. maybe the issue is caused elsewhere then. i’ll keep looking

[2022-10-06 23:42] nandorojo commented on #56
i fixed it by upgrading some expo dependencies! these error messages are pretty useless lol

[2022-10-06 23:42] #56 closed

[2022-10-07 00:19] nandorojo opened #57 "`TypeError: null is not an object (evaluating 'RNIUtilitiesModule.initialize')`"
[code]

I'm getting this error on `1.14.0`, from these new changes: https://github.com/dominicstop/react-native-ios-context-menu/commits/3d112239b2a9aa8406a61032aa60abd51844aeb2/src/native_modules/RNIUtilitiesModule.ts

For some reason, it isn't finding these native modules, even after running `pod install`. I wonder if there are any good ways to debug?

[2022-10-07 00:25] #57 closed

[2022-10-07 06:54] dominicstop commented on #56
no worries, ghsjfjkdssdhlkfdkldfg

[2022-10-07 23:25] nandorojo commented on #40
A better API would be:

[code]

[2022-10-07 23:26] nandorojo commented on #38
I think this is solved now from #34.

[2022-10-07 23:26] nandorojo commented on #28
I doubt this is possible. However, you can use a custom image.

[2022-10-07 23:27] nandorojo commented on #19
I think the best option is to set a `maxHeight` on the preview element.

[2022-10-15 17:47] fukemy commented on #53
@dominicstop  thanks for update. https://github.com/dominicstop/react-native-ios-context-menu/commit/684e1e18310947cce90b70ba29933521f122465b

[2022-10-15 17:47] #53 closed

[2022-10-23 09:32] peterferguson commented on #57
hey @nandorojo, how did you fix this?

Currently running into this using zeego

[2022-10-23 12:44] nandorojo commented on #57
be sure to rebuild the dev client and not use expo go

[2022-10-23 15:02] peterferguson commented on #57
Cheers just had to rebuild my dev client 👍

[2022-10-29 18:06] ZerakPalani commented on #38
Thank you for solving this issue!

[2022-10-29 18:06] #38 closed

[2022-11-01 02:26] pfcodes commented on #40
Much needed

[2022-11-01 02:34] pfcodes commented on #30
This is a good catch. I'm having this issue with React Navigation `Stack.Group` with `presentation` set to `fullScreen`. Unfortunately React Navigation has no `overFullScreen` option. This issue should be reopened.

[2022-11-07 03:55] fukemy opened #58 "strange behavior: can not dismiss context menu from ref after navigate into new modal screen"
Hi, I have context menu with ref, then I using this ref to hide context menu by call:
[code]

It's work until I navigate to ***fullscreenmodal***, then back to screen again.
can u take a look at my video:
https://streamable.com/dq5ak4

[2022-11-07 03:56] fukemy commented on #58
here is my full code:
[code]

[2022-11-07 03:57] fukemy commented on #58
Im sure the methos dismiss() called after click into reactionIcon, because I putted this log to test:
[code]

then i see contextMenuRef.current have value from metro log

[2022-11-07 14:33] fukemy commented on #58
@dominicstop  plz helppppp

[2022-11-08 05:07] fukemy commented on #58
i have tried to apply this props:
[code]

but still not working.
The problem is ***choosen MenuItem then ContextMenu dismiss normally***, but not working with ref method(***dismissMenu()***)

[2022-11-08 05:16] dominicstop commented on #58
i'm stumped — i can't seem to figure out why this is happening faksdhdkjdjhdjdk

i'm going to have to create a repro in order to debug this — i'll update this issue once i figure out what's wrong

[2022-11-08 08:35] fukemy commented on #58
thanks bro <3

[2022-11-18 03:21] fukemy commented on #58
hi bro, did you find any solution? I visit your github everyday for watching update

[2022-11-19 05:32] dominicstop commented on #58
sorry, i don't currently have a mac to use for dev work — i might not be able to fix this in the meanwhile

i'll let you know once i'm able to debug this